body{
    background-color: rgb(105, 104, 104);
    font-family: 'Roboto', sans-serif;
}
table{
    margin: auto;
    text-align: center;
    border: rgb(189, 127, 83) solid 2px;
    width: 50%;
}

thead{
    font-size: 40px;
    background-color: brown;
    color: white;
}

tbody{
    font-size: 25px;
    background-color: white;
}

th,td{
    border:saddlebrown solid 2px ;
    padding: 15px;

}



.total{
    text-align: center;
    margin: auto;
    width: 50%;
    border: rgb(189, 127, 83) solid 1px;
    background-color: white;
}